/* lg */ 
@media (min-width: 1200px) {
	// Welcome page
	.small-screen-burguer {
		display: none;
	}
	#bg {
		.small_nav_links {
			display: none;
		}
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	// Welcome page
	.small-screen-burguer {
		display: none;
	}
	#bg {
		.small_nav_links {
			display: none;
		}
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	// Welcome page
	.small-screen-burguer {
		display: none;
	}
	#bg {
		.small_nav_links {
			display: none;
		}
	}
}

/* xs */
@media (max-width: 767px) {
	// Welcome page
	.small-screen-burguer {
		display: none;
	}

	#bg {
		.small_nav_links {
			display: none;
		}
	}

	.main_title {
		h1 {
			margin: 1rem 0 2rem 0;
		}
	}

	// Episode Show
	
	.jp-progress {
		display: none;
	}
	#episode_content {
		.jp-time-holder{
			right: 10px;
		}
		.jp-audio {
			width: 40%;
		}
	}

	//header bar not welcome = Main nav that is located in Layout
	#main_header{
		nav {
			ul {
				.signin {
					display: none;
				}
				.signup {
					display: none;
				}
				li {
					margin-left: .2rem;
					padding-right: .2rem;
				}
			}
		}
	} 

	// Dashboard
	#links {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: flex-start;
			margin-bottom: 5px;
			text-align: center;
		}
	}

	

}

/* XS Portrait */
@media (max-width: 479px) {
	
	// Welcome page
	#bg {
		header { 
			padding: 0 0;
			background-color: rgba($violet, 1);
			#logo {
			display: initial;
			width: 90%;
			color: white;
			background-color: rgba($violet, 1);
			padding: 1rem 0 0 0;
			}
			.small-screen-burguer {
				display: inline;
				.hamburguer {
					width: 9%;
					color: white;
					padding: 1rem 0;
					cursor: pointer;
	    			position: relative;
	    		}
	    	}
	    }
	.small_nav_links {
			display: none;
			background-color: #292c33;
			width: 100%;
			ul {
			list-style: none;
			display: inline;
				li {
					a {
						color: lighten($violet, 65%);
						text-decoration: none;
						&:hover{
							background: rgba($white, 0.7);
							color: $violet;
						}
					}
				}
			}
		}
	}

	.show {
		display: block !important;
	}

	.main_title {
		h1 {
			margin: 11rem 0 2rem 0;
		}
	}
	.nav_bar {
		background-color: rgba($violet, 0.0);
		height: 3rem;
		z-index: -10;
		float: none;
		.nav_links {
			display: none;
		}
	}
	
	//header bar not welcome = Main nav that is located in Layout
	#main_header{
		nav {
			ul {
				.signin {
					display: none;
				}
				.signup {
					display: none;
				}
				li {
					margin-left: .2rem;
					padding-right: .2rem;
				}
			}
		}
	} 

	// Dasboard

	#links {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: flex-start;
			margin-bottom: 5px;
			text-align: center;
		}
	}

	// Podcast index

	#podcast {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: flex-start;
			li {
				width: 100%;
				float: none;
				margin: 1rem 1% 0 1%;
			}
		}
	}

	// Episode Show
	
	.jp-progress {
		display: none;
	}
	#episode_content {
		.jp-time-holder{
			right: 10px;
		}
	}
	.jp-audio {
		width: 100%;
	}

	// Episode INDEX

	#podcast_show {
		#show_banner {
			padding: 2rem 0 1rem 0;
			.description {
				margin: 0 auto 1rem auto;
				width: 100%;
			}
			.subscribe_link {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: flex-start;
				margin-bottom: 5px;
				margin: 1rem 2rem;
			}
		}
	}
}