<% content_for :stylesheets do %>
<% end %>

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>Music & Rituals</h1>
		</div>
	</div>

	<div id="links">
		<div class="wrapper_skinny">
			<ul>
				<li class="current">Episodes</li>
				<li><a href="#">New Episodes</a></li>
				<li><a href="#">Account Settings</a></li>
				<li><a href="#">View Podcasts</a></li>
			</ul>
		</div>
	</div>

	<div id="episodes" >
		<div class="wrapper_skinny">
			<ul class="cf">
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="/episodeshow">
							<img src='../assets/2.jpg' alt='2.jpg'>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">Flying and music?</a></h2>
						<p class="description">Imagine a cross-atlanctic flight without music? What if you forget your headphones? What would ....</p>
						<div class="authorized_links">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>
