<body id="bg">
<!-- when this becomes a welcome page, please uncomment!!! -->
<!-- <header class="cf">
		<div class="wrapper_wide">
			<a href="/#" id="logo">Logo</a>
			<nav>
				<ul>
					<li><a href="" class="explore">Explore</a></li>
					<li><a href="" class="login">Login</a></li>
					<li><a href="" class="sign_up">Sign up</a></li>
				</ul>
		</nav>
		</div>	
	</header> -->
	<section >
		<div class="wrapper_skinny">
			<h1>Digital Traditional Broadcasting Communication</h1>
			<a href="sign-in.html" class="button_main button_soas">Login</a>
			<a href="/podindex.html" class="button_main button_white">Explore</a>
		</div>
	</section>
</body>