<% content_for :stylesheets do %>
<% end %>
<div id="banner" class="podcast_banner">
	<h1>Find your favourite next podcast!</h1>
</div>

<div id="podcast" class="cf">
	<div class="wrapper">
		<ul>
			<a href="#">
				<li>
					<img src='../assets/7.jpg' alt"cambiar por el nombre del podcast">
					<div class="podcast_overview">
						<h2>Is research sexy?</h2>
						<p class="episode_count">1 Episode</p>
					</div>	
				</li>
			</a>
			<a href="#">
				<li>
					<img src='../assets/7.jpg' alt"cambiar por el nombre del podcast">
					<div class="podcast_overview">
						<h2>Is research sexy?</h2>
						<p class="episode_count">1 Episode</p>
					</div>	
				</li>
			</a>
			<a href="#">
				<li>
					<img src='../assets/7.jpg' alt"cambiar por el nombre del podcast">
					<div class="podcast_overview">
						<h2>Is research sexy?</h2>
						<p class="episode_count">1 Episode</p>
					</div>	
				</li>
			</a>
			<a href="#">
				<li>
					<img src='../assets/7.jpg' alt"cambiar por el nombre del podcast">
					<div class="podcast_overview">
						<h2>Is research sexy?</h2>
						<p class="episode_count">1 Episode</p>
					</div>	
				</li>
			</a>
			<a href="#">
				<li>
					<img src='../assets/7.jpg' alt"cambiar por el nombre del podcast">
					<div class="podcast_overview">
						<h2>Is research sexy?</h2>
						<p class="episode_count">1 Episode</p>
					</div>	
				</li>
			</a>
		</ul>
	</div>
</div>

	<div class="pagination">


</div>



<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>

