<% content_for :stylesheets do %>
<% end %>

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>Music & Rituals</h1>
			<p class="description">Description: The importance of music in social rituals </p>
			<a href="#" class="subscribe_link">iTunes</a>
			<a href="#" class="subscribe_link">Stitcher</a>
			<a href="#" class="subscribe_link">Podbay</a>
		</div>
	</div>

	<div id="breadcrumb">
		<a href="#">
			All podcasts 
			<span>/</span>
			Music & Rituals
		</a>
	</div>

	<div id="episodes" >
		<div class="wrapper_skinny">
			<ul class="cf">
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="/episodeshow">
							<img src='../assets/2.jpg' alt='2.jpg'>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="/episodeshow">Flying and music?</a></h2>
						<p class="description">Imagine a cross-atlanctic flight without music? What if you forget your headphones? What would ....</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>
