<% content_for :stylesheets do %>
<% end %>

<div id="banner" class="signin_banner">
	<h1>Time to upload your podcast!</h1>
</div>

<div id="form">
	<div class="wrapper_skinny">
		<form>
			<div class="field">
				<label>Email</label><br>
				<input type="email" />
			</div>	

			<div class="field">
				<label>Password</label><br>
				<input type="password" />
			</div>

			<div class="field">
				<label>Text</label><br>
				<input type="text" />
			</div>	

			<div class="field">
				<label>Text Area</label><br>
				<textarea></textarea>
			</div>	

			<div class="actions">
				<label></label><br>
				<input type="submit" class="button button_highlight button_block" />
			</div>	
		</form>
	</div>
</div>
